/* Color code
#b08dc3 purple
#9ac7ea blue
#9fd79d green
#e9ea9f yellow
#7d7d7d darkgrey
#f9f4f4 header
#333333 nav a
 */

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*top-bar*/

.top-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #b08dc3;
  padding: 20px 50px 0;
}

.top-bar a {
  color: #333333;
  text-decoration: none;
}

.top-bar a:hover {
  cursor: pointer;
  color: #777777;
}
.navbar a {
  color: #333333;
  font-weight: bold;
  font-size: 1.2rem;
}
.navbar a:hover {
  cursor: pointer;
  color: #777777;
}

/* Carousel */

/* Carousel */
.carousel-item h1 {
  font-size: 3.3em;
  text-shadow: 2px 2px 4px #808080, -2px -2px 3px #808080;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

/* fixed-bg */
.fixed-bg {
  position: relative;
  min-height: 80vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

/* bg-image */
.bg01 {
  background-image: url(img/index/map.png);
}

/* footer */

.footer {
  display: flex;
  justify-content: space-around;
}

.footer a {
  color: #333333;
  text-decoration: none;
}

.footer a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #b08dc3;
}

.sns {
  float: right;
}

/* side grid section */
.side-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.side-txt {
  line-height: 2rem;
}

/* btn */
.btn-side {
  border: 2px solid #88d186;
  background-color: #88d186;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-side {
  transition-duration: 0.4s;
}

.btn-side:hover {
  background-color: #71ad6f;
  border: 2px solid #71ad6f;
  color: #fff;
}

/* gallery section*/

/* h2 title */

.v_line {
  border-left: thick solid #9ac7ea;
  padding-left: 10px;
}

/* insta section */

.insta-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 0 auto;
}

/* sign up form section */

.form {
  width: 700px;
  height: 400px;
  margin: 10px auto;
  color: #b08dc3;
  background: #ead5f5;
  border-top: solid 10px #b08dc3;
}

@media (max-width: 768px) {
  .form {
    width: 450px;
  }
  .form h2 {
    font-size: 1.8em;
  }
  .form h4 {
    font-size: 1em;
  }
}

/* Video section */

@media (max-width: 768px) {
  iframe {
    width: 100%;
    height: auto;
  }
}

/* ROOM PAGE */
/* season */
.season-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn {
  background-color: #88d186;
  color: #fff;
}

.card-body {
  text-align: center;
}

/* room idea */
.room-flex {
  display: flex;
  flex-wrap: wrap;
}

.room-flex h5 {
  padding-bottom: 2rem;
}
.room-flex a {
  color: #333333;
}
.room-flex a:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition-duration: 0.2s;
  text-decoration: none;
}

/* SHOP PAGE */

.page-num a {
  color: #333333;
  padding-right: 2rem;
}

.ul {
  list-style: none;
  font-weight: bold;
  font-size: large;
  padding: 10px;
  line-height: 3em;
}
.ul a {
  color: #333333;
}

/* OUR STORY PAGE*/

.title-story {
  text-align: center;
  padding: 2rem;
}
.story-flex {
  display: flex;
  flex-wrap: wrap;
}
.story-flex a {
  color: #333333;
  font-weight: bold;
}
.story-flex a:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition-duration: 0.2s;
  text-decoration: none;
}

.designer-flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

/* CONTACT PAGE */

.contact-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#contact h1 {
  text-shadow: 2px 2px 4px #808080, -2px -2px 3px #808080;
}
.contact-info {
  background-color: rgba(255, 255, 255, 0.8);
}

.btn-form {
  border: 2px solid #88d186;
  color: #333333;
  background-color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-form {
  transition-duration: 0.4s;
}

.btn-form:hover {
  background-color: #88d186;
  border: 2px solid #88d186;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .contact-flex {
    align-content: space-between;
  }
}

/* fadein effect */

.fadein {
  opacity: 0.1;
  transform: translate(0, 40px);
  transition: all 800ms;
}

/* after fadein */
.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0px);
}

/* Gallery */

.fl-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
}

.item1 {
  grid-row: 1/3;
  background-size: cover;
}

img {
  width: 100%;
  background-size: cover;
}

.item {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}

.item .g-caption {
  position: absolute;
  color: #333333;
  font-size: 1.5em;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.4em 1.3em;
  margin: 2em 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  background: rgba(255, 255, 255, 0.7);
}

.item:hover img {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.g-caption p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .fl-grid {
    display: grid;
    grid-template-rows: 1fr minmax(300px, auto);
    grid-template-columns: 1fr;
  }
  .item1 {
    grid-column: auto;
  }
  .item img {
    width: 100%;
  }
  .item p {
    font-size: 40px;
  }
}

/* insta ex */
.insta {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  margin: 10px 8px 10px 16px;
  position: relative; /* 相対位置指定 */
}
.insta .caption {
  font-size: 170%;
  text-align: center;
  padding-top: 105px;
  color: #fff;
}
.insta .mask {
  width: 100%;
  height: 100%;
  position: absolute; /* 絶対位置指定 */
  top: 0;
  left: 0;
  opacity: 0; /* マスクを表示しない */
  background-color: rgba(0, 0, 0, 0.4); /* マスクは半透明 */
  transition: all 0.2s ease;
}
.insta:hover .mask {
  opacity: 1; /* マスクを表示する */
}
